# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

[flake8]
max-line-length = 120
extend-exclude =
    venv/
    # ToDo: not all but most of the files have warnings or errors, will be fixed in the future
    doc/source/conf.py
    modules/python/dionaea/__init__.py
    modules/python/dionaea/cmd.py
    modules/python/dionaea/echo.py
    modules/python/dionaea/emu.py
    modules/python/dionaea/emu_scripts/__init__.py
    modules/python/dionaea/emu_scripts/handler.py
    modules/python/dionaea/fail2ban.py
    modules/python/dionaea/ftp.py
    modules/python/dionaea/ftp_download.py
    modules/python/dionaea/hpfeeds.py
    modules/python/dionaea/http.py
    modules/python/dionaea/ihandlers.py
    modules/python/dionaea/log_db_sql/controller.py
    modules/python/dionaea/log_incident.py
    modules/python/dionaea/log_json.py
    modules/python/dionaea/logsql.py
    modules/python/dionaea/memcache/__init__.py
    modules/python/dionaea/memcache/command.py
    modules/python/dionaea/mirror.py
    modules/python/dionaea/mongo/mongo.py
    modules/python/dionaea/mongo/packets.py
    modules/python/dionaea/mqtt/include/packets.py
    modules/python/dionaea/mqtt/mqtt.py
    modules/python/dionaea/mssql/__init__.py
    modules/python/dionaea/mssql/include/tds.py
    modules/python/dionaea/mssql/mssql.py
    modules/python/dionaea/mysql/include/fields.py
    modules/python/dionaea/mysql/include/packets.py
    modules/python/dionaea/mysql/mysql.py
    modules/python/dionaea/mysql/var.py
    modules/python/dionaea/ndrlib.py
    modules/python/dionaea/nfq.py
    modules/python/dionaea/p0f.py
    modules/python/dionaea/pptp/include/packets.py
    modules/python/dionaea/pptp/pptp.py
    modules/python/dionaea/s3.py
    modules/python/dionaea/services.py
    modules/python/dionaea/sip/__init__.py
    modules/python/dionaea/sip/extras.py
    modules/python/dionaea/sip/rfc2396.py
    modules/python/dionaea/sip/rfc2617.py
    modules/python/dionaea/sip/rfc3261.py
    modules/python/dionaea/sip/rfc4566.py
    modules/python/dionaea/smb/extras.py
    modules/python/dionaea/smb/include/asn1/__init__.py
    modules/python/dionaea/smb/include/asn1/asn1.py
    modules/python/dionaea/smb/include/asn1/ber.py
    modules/python/dionaea/smb/include/asn1/mib.py
    modules/python/dionaea/smb/include/asn1fields.py
    modules/python/dionaea/smb/include/asn1packet.py
    modules/python/dionaea/smb/include/fieldtypes.py
    modules/python/dionaea/smb/include/gssapifields.py
    modules/python/dionaea/smb/include/helpers.py
    modules/python/dionaea/smb/include/ntlmfields.py
    modules/python/dionaea/smb/include/packet.py
    modules/python/dionaea/smb/include/smbfields.py
    modules/python/dionaea/smb/rpcservices.py
    modules/python/dionaea/smb/smb.py
    modules/python/dionaea/store.py
    modules/python/dionaea/submit_http.py
    modules/python/dionaea/submit_http_post.py
    modules/python/dionaea/tftp.py
    modules/python/dionaea/upnp/__init__.py
    modules/python/dionaea/upnp/upnp.py
    modules/python/dionaea/util.py
    modules/python/dionaea/virustotal.py
    modules/python/util/csv2sqlite.py
    modules/python/util/gnuplotsql.py
    modules/python/util/logsql2postgres.py
    modules/python/util/readlogsqltree.py
    modules/python/util/retry.py
    modules/python/util/updateccs.py
    modules/python/util/xmpp/pg_backend.py
    tests/sip/functional-test-sip.py
