### Vagrant
vagrant/.vagrant/

### Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
.idea/

### intermediate object files
*.o
*.lo
*.la

### automake
Makefile
Makefile.in
.deps
.libs
config.*
aclocal.m4
autom4te.cache/
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

### slickedit
*.vpj
*.vpw
*.vpwhistu
*.vtg

### project specific
src/dionaea
modules/python/binding.c
modules/python/build/
modules/python/setup.py

### Python
*.pyc
