logging = {
	// file not starting with / is taken relative to LOCALESTATEDIR (e.g. /opt/dionaea/var)
	file = "log/dionaea.log"
	levels = "all"
	domains = "*"
}

processors = 
{ 
	emu = 
	{
		detect = "yes"
		profile = "yes"
	}
}

downloads =
{
	dir = "var/dionaea/binaries"
	tmp-suffix = ".tmp"
}

submit = 
{
	urls = ["http://onlineanalyzer.norman.com/nepenthes_upload.php",
			"http://luigi.informatik.uni-mannheim.de/submit.php?action=verify"]
	email = "nepenthesdev@gmail.com"
}

listen = 
{
	mode = "getifaddrs"
	addrs = { eth0 = ["::"] }
}

modules = {

	curl = 
	{
		protocol = "http"
	}

	emu = {
		detect = "1"
		profile = "1"
	}

	python = {
		// default expands to PREFIX/lib/dionaea/python/
		// ordering is granted
		// useful for development
		// simply add your devel directory to the list, avoids a make install for new python code
		sys_path = ["default"]

		// python imports
		imports	= [	"log",
					"services",
					"ihandlers"]
	}

	/* nc is a test module */
/*	nc = 
	{
		services = [
			{
				proto = "redir"
				type = "tcp"
				host = "::"
				port = "4711"
			},
			{
				proto = "redir"
				type = "tcp"
				host = "::"
				port = "12344"
			},
			{
				proto = "sink"
				type = "tcp"
				host = "::"
				port = "12345"
				throttle = {
					in = "8192"
				}
				timeout = {
					listen = "15"
					connect = "15"
				}
			},
			{
				proto = "source"
				type = "tcp"
				host = "::"
				port = "12346"
				throttle = {
					out = "8192"
				}
				timeout = {
					listen = "15"
					connect = "15"
				}
			},
			{
				proto = "redir"
				type = "tcp"
				host = "::"
				port = "12347"
				throttle = {
					in = "8192"
					out = "8192"
				}
				timeout = {
					listen = "15"
					connect = "15"
				}
			},			
			{
				proto = "redir"
				type = "tls"
				host = "::"
				port = "12444"
				timeout = {
					listen = "15"
					connect = "15"
				}
			},

			{
				proto = "sink"
				type = "tls"
				host = "::"
				port = "12445"
				throttle = {
					in = "8192"
				}
				timeout = {
					listen = "15"
					connect = "5"
				}
			},
			{
				proto = "source"
				type = "tls"
				host = "::"
				port = "12446"
				throttle = {
					out = "8192"
				}
				timeout = {
					listen = "15"
					connect = "15"
				}
			},
			{
				proto = "redir"
				type = "tls"
				host = "::"
				port = "12447"
				throttle = {
					in = "8192"
					out = "8192"
				}
				timeout = {
					listen = "15"
					connect = "15"
				}
			},
			{
				proto = "source"
				type = "udp"
				host = "::"
				port = "12544"
				timeout = {
					connect = "15"
				}
			},
			{
				proto = "sink"
				type = "udp"
				host = "::"
				port = "12545"
				timeout = {
					connect = "15"
				}
			},
			{
				proto = "redir"
				type = "udp"
				host = "::"
				port = "12546"
				timeout = {
					connect = "15"
				}
			}
		]

		clients = [
			{
				proto = "source"
				type = "tcp"
				host = "127.0.0.1"
				port = "13344"
				timeout = {
					connecting = "5"
					connect = "15"
					reconnect = "5"
				}
			},
			{
				proto = "redir"
				type = "tcp"
				host = "ip6-localhost"
				port = "13345"
				timeout = {
					connecting = "5"
					connect = "15"
					reconnect = "5"
				}
			},
			{
				proto = "redir"
				type = "tls"
				host = "localhost"
				port = "13346"
				timeout = {
					connecting = "5"
					connect = "15"
					reconnect = "5"
				}
			}, 
			{
				proto = "source"
				type = "tls"
				host = "ip6-localhost"
				port = "12445"
				timeout = {
					reconnect = "1"
					connect = "1"
				}

			}
		]

	}
 */
}


