Source: dionaea
Section: misc
Priority: optional
Maintainer: <nepenthesdev@gmail.com>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), pkg-config (>=0.22), libglib2.0-dev (>= 2.22.2), libcurl4-openssl-dev (>= 7.19.5), python3.2-dev (>= 3.2), cython (>= 0.14.2), libudns-dev (>= 0.0.9), libssl-dev (>= 0.9.8g), liblcfg (>= 0.2.0), libemu (>= 0.2.0), libev-dev (>= 4.0)

Package: dionaea
Architecture: i386 amd64
Priority: optional
Depends: libglib2.0-0 (>= 2.22.2), libcurl3 (>= 7.19.5), libpython3.2 (>= 3.2), libudns0 (>= 0.0.9), libssl0.9.8 (>= 0.9.8g), liblcfg (>= 0.2.0), libemu (>= 0.2.0), libev3 (>= 4.0)
Description: dionaea
    Dionaea is meant to be a Nepenthes successor, embedding Python 
    as scripting language, using libemu to detect 
    shellcodes, supporting IPv6 and TLS.
