set terminal png size 600,600 nocrop butt font "/usr/share/fonts/truetype/ttf-liberation/LiberationSans-Regular.ttf" 8
set output "{filename_output}"
set xdata time
set timefmt "%Y-%m-%d"
set xrange ["{range_start}":"{range_stop}"]
set format x "%b %d"
set xlabel "date"
set ylabel "count"
set y2label "count"
set y2tics
set grid

set size 1.0,0.5

set style line 1 lt rgb "#00C613"
set style line 2 lt rgb "#6AFFA0"
set style line 3 lt rgb "#23FF38"
set style line 4 lt rgb "#75BF0F"
set style line 5 lt rgb "#A1FF00"
set style line 6 lt rgb "red"

unset logscale y
set datafile separator "|"
set multiplot

set origin 0.0,0.5
plot "{filename_data}" using 1:3 title "accept" with lines, \
	"" using 1:4 title "shellcode" with lines, \
	"" using 1:5 title "offers" with lines, \
	"" using 1:6 title "downloads" with lines, \
	"" using 1:7 title "uniq" with lines, \
	"" using 1:8 title "new" with lines

set origin 0.0,0.0
plot "{filename_data}" using 1:2 title "hosts" with lines

unset multiplot
